<div class="row">
  <div class="col s12">
    <div class="card" style="margin-top: 2rem;">
      <h1 class="card-title" style="margin: 0; padding: 30px; font-weight: 600;">
        <i class="material-icons left">playlist_add</i>
        Add New Task
      </h1>
      <a class="btn-floating halfway-fab waves-effect waves-light red" onclick="addedTask();"><i class="material-icons">add</i></a>
      <div class="card-content">
        <div class="row">
          <div class="input-field col s6">
            <textarea id="taskcontent" placeholder="Task 1, nn" required="" class="materialize-textarea validate"></textarea>
            <label class="active" for="taskcontent">Task</label>
            <span class="helper-text" data-error="Required" data-success=""></span>
          </div>
          <div class="input-field col s6">
            <div class="switch">
              <label>
                Active
                <input type="checkbox">
                <span class="lever"></span>
                Done
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card" style="margin-top: 2rem;">
      <h1 class="card-title" style="margin: 0; padding: 30px; font-weight: 600;">
        Tasks list
      </h1>
      <div class="card-content">
        <div class="listcount" ng-show="">
          <span class="todo-count">
            <strong class="ng-binding">2</strong>
            items left
          </span>
          <ul class="filters">
            <li>
              <a ng-class="{selected: status == ''} " href="#/">All</a>
            </li>
            <li>
              <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
            </li>
            <li>
              <a ng-class="{selected: status == 'completed'}" href="#/completed" class="selected">Done</a>
            </li>
          </ul>
          <button class="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear done</button>
        </div>
        <ul class="collection">
          <li class="collection-item">
            <div>
              <i class="material-icons left" style="color: #e57373">hourglass_empty</i>
              <span>
                Task one lblblblb
              </span>

              <a href="#deleteModal" class="secondary-content tooltipped modal-trigger" data-position="top" data-tooltip="Delete" style="color: #f44336">
                <i class="material-icons">delete_forever</i>
              </a>
              <a href="#usersListModal" class="secondary-content tooltipped modal-trigger" data-position="top" data-tooltip="Assign a task to another User" style="color: #0277bd">
                <i class="material-icons">person_add</i>
              </a>
              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Done" style="color: #2e7d32">
                <i class="material-icons">check_circle</i>
              </a>
            </div>
          </li>
          <li class="collection-item">
            <div>
              <i class="material-icons left" style="color: #1b5e20">check</i>
              <span style="text-decoration: line-through;">
                Task two lblblblb
              </span>

              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Delete" style="color: #f44336">
                <i class="material-icons">delete_forever</i>
              </a>
            </div>
          </li>
          <li class="collection-item">
            <div>
              <i class="material-icons left" style="color: #1b5e20">check</i>
              <span style="text-decoration: line-through;">
                Task 3 lblblblb
              </span>

              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Delete" style="color: #f44336">
                <i class="material-icons">delete_forever</i>
              </a>
            </div>
          </li>
          <li class="collection-item">
            <div>
              <i class="material-icons left" style="color: #e57373">hourglass_empty</i>
              <span>
                Task 4 lblblblb
              </span>

              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Delete" style="color: #f44336">
                <i class="material-icons">delete_forever</i>
              </a>
              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Assign a task to another User" style="color: #0277bd">
                <i class="material-icons">person_add</i>
              </a>
              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Done" style="color: #2e7d32">
                <i class="material-icons">check_circle</i>
              </a>
            </div>
          </li>
          <li class="collection-item">
            <div>
              <i class="material-icons left" style="color: #e57373">hourglass_empty</i>
              <span>
                Task 5 lblblblb
              </span>

              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Delete" style="color: #f44336">
                <i class="material-icons">delete_forever</i>
              </a>
              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Assign a task to another User" style="color: #0277bd">
                <i class="material-icons">person_add</i>
              </a>
              <a href="#!" class="secondary-content tooltipped" data-position="top" data-tooltip="Done" style="color: #2e7d32">
                <i class="material-icons">check_circle</i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h4>Delete Task</h4>
    <h4 style="color: red">Are you sure to delete the task?</h4>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect btn grey">Cancel</a>
    <a class="waves-effect red waves-light btn modal-close" onclick="deleteTask();">
      <i class="material-icons left">delete</i>Delete
    </a>
  </div>
</div>

<!-- Modal Structure -->
<div id="usersListModal" class="modal">
  <div class="modal-content">
    <h4>Users List</h4>
    <ul class="collection">
      <li class="collection-item">
        <p>
          <label>
            <input type="checkbox" />
            <span>Alvin</span>
          </label>
        </p>
      </li>
      <li class="collection-item">
        <p>
          <label>
            <input type="checkbox" />
            <span>Nasr</span>
          </label>
        </p>
      </li>
      <li class="collection-item">
        <p>
          <label>
            <input type="checkbox" />
            <span>Tamer</span>
          </label>
        </p>
      </li>
      <li class="collection-item">
        <p>
          <label>
            <input type="checkbox" />
            <span>Mohamed</span>
          </label>
        </p>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect btn grey">Cancel</a>
    <a class="waves-effect waves-light btn modal-close">Assign</a>
  </div>
</div>
