<p *ngIf="!taskItems" style="margin-top: 10rem;"><em>Tasks is loading...</em></p>

<div class="list-group" style="margin-top: 10rem;">
  <ul>
    <li class="list-group-item active">
      Task items list
      <span class="floatright">
        <a href="javascript:;" (click)="addTask()" style="color: white;"><i class="fa fa-plus"></i> Add Task</a>
      </span>
    </li>
    <li *ngIf="!taskItems" class="list-group-item" style="color: red">
      No Tasks
    </li>
    <li class="list-group-item adhovr {{task.isDone ? 'completed' : '' }}" *ngFor="let task of taskItems">
      <i *ngIf="task.isDone" class="glyphicon glyphicon-ok-sign" style="color: green"></i> {{ task.task }}

      <span class="floatright">
        <a *ngIf="!task.isDone" [routerLink]="" (click)="taskDone(task.id)" title="Done" class="mrgrt" style="color: green">
          <i class="glyphicon glyphicon-ok"></i>
        </a>
        <a [routerLink]="" (click)="delete(task.id)" title="Delete" class="mrgrt" style="color: red">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a *ngIf="!task.isDone" [routerLink]="" (click)="assignTask(task.id, 1)" title="Assign Task to another user" class="mrgrt">
          <i class="glyphicon glyphicon-user"></i>
        </a>
      </span>
    </li>
  </ul>
</div>

<div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <i class="fa fa-tasks"></i>
          {{'todoDemo.editor.NewTask' | translate}}
        </h4>
        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="formResetToggle"
              class="form-horizontal"
              name="taskEditorForm"
              #f="ngForm" novalidate
              (ngSubmit)="f.form.valid ? save() :
                      (!task.valid && showErrorAlert('Task name is required', 'Please enter a name for the task'));">

          <div class="form-group has-feedback">
            <label class="control-label col-md-2" for="task">Task:</label>
            <div class="col-md-10" [ngClass]="{'has-success': f.submitted && task.valid, 'has-error' : f.submitted && !task.valid}">
              <input autofocus type="text" id="task" name="task" placeholder="Enter task name" class="form-control" [(ngModel)]="taskEdit.name" #task="ngModel" required />
              <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ':task.valid, 'glyphicon-remove' : !task.valid}"></span>
              <span *ngIf="f.submitted && !task.valid" class="errorMessage">
                task required
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-7 col-md-offset-2">
              <div class="checkbox">
                <label>
                  <input name="isDone" type="checkbox" [(ngModel)]="taskEdit.done">
                  Done
                </label>
              </div>
            </div>
          </div>
          
          <div class="modal-footer actionBtn-form-group">
            <button type="submit" class="btn btn-primary">Add Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
