<p *ngIf="!taskItems" style="margin-top: 10rem;"><em>Tasks is loading...</em></p>

<div class="list-group" style="margin-top: 10rem;">
  <ul>
    <li class="list-group-item active">
      Task items list
      <span class="floatright">
        <a href="javascript:;" (click)="addTask()" style="color: white;"><i class="fa fa-plus"></i> Add Task</a>
      </span>
    </li>
    <li *ngIf="!taskItems" class="list-group-item" style="color: red">
      No Tasks
    </li>
    <li class="list-group-item adhovr {{task.isDone ? 'completed' : '' }}" *ngFor="let task of taskItems">
      <i *ngIf="task.isDone" class="glyphicon glyphicon-ok-sign" style="color: green"></i> {{ task.task }}

      <span class="floatright">
        <a *ngIf="!task.isDone" [routerLink]="" (click)="taskDone(task.id)" title="Done" class="mrgrt" style="color: green">
          <i class="glyphicon glyphicon-ok"></i>
        </a>
        <a [routerLink]="" (click)="delete(task.id)" title="Delete" class="mrgrt" style="color: red">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a *ngIf="!task.isDone" href="javascript:;" (click)="assignNTask()" title="Assign Task to another user" class="mrgrt">
          <i class="glyphicon glyphicon-user"></i>
        </a>
      </span>
    </li>
  </ul>
</div>

<div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <i class="fa fa-tasks"></i>
          {{'todoDemo.editor.NewTask' | translate}}
        </h4>
        <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="complexForm" (ngSubmit)="addNewTask(complexForm.value)">
        <div class="modal-body" style="padding-bottom: 6rem;">
          <div class="form-group">
            <label class="control-label col-md-2" for="task"><b>Task</b></label>
            <div class="col-md-10">
              <input type="text" class="form-control" [formControl]="complexForm.controls['task']" placeholder="Enter task" />
              <div *ngIf="complexForm.controls['task'].hasError('required')" class="errorMessage">
                task input required
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer actionBtn-form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Save Task</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #assignTaskModal="bs-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <i class="fa fa-tasks"></i>
          Assign task to user
        </h4>
        <button type="button" class="close pull-right" title="Close" (click)="assignTaskModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body" style="padding-bottom: 6rem;">

        </div>
        <div class="modal-footer actionBtn-form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
