<div class="container mrgtop">
  <div class="row">
    <div class="col-md-12">
      <p>
        Implement a Web application which users can create tasks and assign to another one.
      </p>
      <p>Application Features:</p>
      <ul class="list-group">
        <li class="list-group-item">
          User can have one of two possible roles: Admin, Support
        </li>
        <li class="list-group-item">
          User needs to login to the system.
        </li>
        <li class="list-group-item">
          Support User can create a task.
        </li>
        <li class="list-group-item">
          Support User can delete a task if he is the owner.
        </li>
        <li class="list-group-item">
          Support User can assign a task to another one.
        </li>
        <li class="list-group-item">
          Support User can see the list of all tasks which assigned to him, and change the status to Done.
        </li>
        <li class="list-group-item">
          Admin User can see the list of all tasks with Delete permission.
        </li>
        <li class="list-group-item">
          Account management like Create User, Change password and etc. is not required.
        </li>
        <li class="list-group-item">
          Insert the predefined data to database using Seed of EF
        </li>
      </ul>
      <p>Required technologies in your assignment:</p>
      <ul class="list-group">
        <li class="list-group-item">
          - Asp.net (.Net core is recommended)
        </li>
        <li class="list-group-item">
          - SQL Server
        </li>
        <li class="list-group-item">
          - Entity Framework Code first
        </li>
        <li class="list-group-item">
          - Front-End with Angular 2+
        </li>
      </ul>
      <p>Bonus points for: (which are not required, but help us for a better evaluation)</p>
      <ul class="list-group">
        <li class="list-group-item">
          • Repository Pattern
        </li>
        <li class="list-group-item">
          • Unit of Work
        </li>
        <li class="list-group-item">
          • n tier Architecture or DDD
        </li>
        <li class="list-group-item">
          • Data Concurrency
        </li>
        <li class="list-group-item">
          • Test Module
        </li>
        <li class="list-group-item">
          • Logging and Exception Handling
        </li>
        <li class="list-group-item">
          • Anything else you think worse to add
        </li>
      </ul>
    </div>
  </div>
</div>




            
            
            
            
            
            
           
           
            




